body {
  background: #333333;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #333333;
  background-color: white;
}
h2 {
  text-align: center;
  color: white;
}
p {
  text-align:center;
  color: white;
}
#botao {
  position: static; center;
}
